{% extends "head.html" %}

{% block title %}Home {% endblock %}

{% block headCss %}
    {% include 'headCss.html' %}
{% endblock %}

{% block addCss %}
    {% include 'home/addCss.html' %}
{% endblock %}

{% block style %}
    {% include 'home/style.html' %}
{% endblock %}

{% block header %}
    {% include 'home/header.html' %}
{% endblock %}

{% block content %}
    {% include 'home/content.html' %}
{% endblock %}

{% block footer %}
    {% include 'home/footer.html' %}
{% endblock %}
    
{% block bottomJS %}
    {% include 'home/bottomJS.html' %}
{% endblock %}
